html, body {
	
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	font-size: 30px;
	color: #222;
	
	width:100%;
    
	margin:0 auto;
}


h1{
text-align: center;
   color: #000000;
   display: block;
   font-size: 40pt;
   margin-top: 10px;
}

nav {
    position:relative;
    margin:0;
    padding:0;
    
	width: 100%;
	height:50px;
	
	
	color:#e4e4e4;
	
}

ul.navbar {
	margin:0 auto;
	list-style-type: none;
    text-align: center;
    background-color: #222;
}

li.navbar {
	
	width: 20%;
	max-width:200px;

	
	display: inline-block;
	text-align: center;
	line-height: 50px;
    font-size: 17px;	
}

li.navbar a {
	
	display: block;
	color:#ccc;
	text-decoration: none;
	
}

li.navbar a:hover {
	
	color:#777;
	background-color:#e4e4e4;
	text-decoration: none;
	
}

h2{
	color: #000000;
    font-size: 20px
}

.index-h2{
    font-size: 20px
}


ul.info {
    padding-left:10%;
}

li.info {
    
    font-size: 10px;
    margin-bottom:45px;
}

ul.info2 {
    padding-left:5%;
    margin-top:10px;
}

li.info2 {
    font-size: 10px;
    margin-bottom:10px;
}

.container {
    position:relative;
    margin:0;
    padding:0;
    
    left:20%;
    width:90%;
    height:auto;
    min-height:400px;
    color:#fff;
    
}

footer {
    position:relative;
    margin:0;
    padding:0;
    
    width:100%;
    height: 90px;
    background-color:#222;
    text-align: center;
    line-height: 100px;
}




p, .subcontent {
   margin-left: 5%;
    margin-right: 5%;
	font-size: 15px;
	color: #000000
}

.logo {
    display:inline-block;
	height : 80px;
    margin-top:5px;
    margin-bottom:-5px;
}

.box{
    width: 100%;
    height: 250px ;
}




